@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style-type: none !important;
    text-decoration: none !important;
}

/* ............font__family */
.ff_plus_jakarta {
    font-family: 'plus jakarta sans', sans-serif;
}

.ff_poppin {
    font-family: 'poppins', sans-serif;
}

/* .............line__height............ */
.lh_60 {
    line-height: 46px;
}

.lh_55 {
    line-height: 45px;
}

.lh_44 {
    line-height: 44.8px;
}

.lh_38 {
    line-height: 38.72px;
}

.lh_30 {
    line-height: 30px;
}

.lh_28 {
    line-height: 28px;
}

.lh_27 {
    line-height: 27px;
}

.lh_25 {
    line-height: 25px;
}

.lh_24 {
    line-height: 24px;
}

.lh_22 {
    line-height: 22.68px;
}

.lh_21 {
    line-height: 21px;
}

.lh_20 {
    line-height: 20px;
}

.lh_19 {
    line-height: 19px;
}

.lh_18 {
    line-height: 18.9px;
}

.lh_15 {
    line-height: 15.24px;
}

.lh_13 {
    line-height: 13px;
}

.opacity_80 {
    opacity: 80%;
}

.opacity_70 {
    opacity: 70%;
}

/* ................header---section............. */
.nav_container {
    max-width: 1375px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
}

.nav_br {
    border-bottom: 1px solid var(--outline-clr);
}

.headerbg_img {
    background-image: url("../images/png/header-img.png");
    background-repeat: no-repeat;
    background-size: 100% 65%;
}

.py_9 {
    padding-top: 9px;
    padding-bottom: 9px;
}

.try_btn {
    padding: 10px 20px;
    background: linear-gradient(159.94deg, rgba(0, 136, 255, 0.58) -14.36%, var(--linear1) 113.71%);
    box-shadow: 0px 4px 32px 0px var(--shadow1);
    border-radius: 40px;
    border: none;
    transition: all 200ms linear;
    cursor: pointer;
}

.try_btn:hover {
    background: var(--primary-text-clr);
    color: var(--blue-clr);
}

.gap_51 {
    gap: 51px;
}

.bt_line::after {
    content: "";
    position: absolute;
    height: 1px;
    background: var(--blue-clr);
    width: 0%;
    bottom: 0;
    left: 0;
    transition: all 200ms linear;

}

.bt_line:hover {
    color: var(--blue-clr);
    opacity: 1;
}

.bt_line:hover::after {
    width: 100%;
}

/* /\............................................hero-section ..................*/
.container_1140 {
    max-width: 1140px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
}

.container_1210 {
    max-width: 1210px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
}

.undrline {
    height: 2px;
    width: 109px;
    background-color: var(--blue-clr);
}

.max-w467 {
    max-width: 467px;
}

.max-w834 {
    max-width: 834px;
}

.max-w699 {
    max-width: 699px;
}

.max-w617 {
    max-width: 617px;
}

.max-w515 {
    max-width: 515px;
}

.pb_28 {
    padding-bottom: 28px;
}

.pt_48 {
    padding-top: 48px;
}

.pt_6 {
    padding-top: 6px;
}

.ellips1 {
    left: 0;
    bottom: -20%;
}

.cursor-p {
    cursor: pointer;
}

/* ...........................collebration-section */

.slider-imgbox img {
    filter: grayscale(100%);
}

.slider-imgbox:hover img {
    filter: unset;
}

.pb_19 {
    padding-bottom: 19px;
}

/* -----------------------------------complaince-security------------------------------------ */
.mt_28 {
    margin-top: 28px;
}

.justify_content_center {
    justify-content: center !important;
}

.max-wimg615 {
    max-width: 615px;
}

/* ------------------------------------time-saving section------------------------ */
.ellips2 {
    top: -45%;
    right: 0;
}

.ellips3 {
    bottom: -40%;
    left: 0;
}

.py_51_87 {
    padding-top: 24px;
    padding-bottom: 24px;
}

.accordian-box {
    width: 100%;
    max-width: 531px;
}

.accordian1 {

    border-radius: 10px;
    background: var(--bg-blue1);
    margin-bottom: 10px;
    transition: all 300ms linear;
}

.accordionbtn {
    padding: 24px;
    cursor: pointer;
}

.gap_22 {
    gap: 22px;
}

.watch-box {
    padding: 17px 17px 18px 17px;
    border-radius: 8px;
    width: 64px;
    height: 64px;
    background: var(--bg-blue1);
    transition: all 300ms linear;
    display: none !important;
}

.max-w370 {
    max-width: 370px;
}

.accordian1.active .accordionbtn .content {
    color: var(--blue-clr);
}

.accordian1.active .accordionpara {
    height: unset !important;

}

.accordionpara {
    height: 0;
    overflow: hidden;
    transition: all 300ms linear;
}

.timeSaving_box.active .accordionpara {
    height: unset !important;
}

.accordian1.active .accordionbtn .watch-box {
    display: block !important;
}

/* ..........................bring-value section..................... */
.max-w416 {
    max-width: 416px;
}

.py_90_65 {
    padding-top: 24px;
    padding-bottom: 24px;
}

.bring_value_box {
    max-width: 400px;
    background: var(--bg-blue1);
    border-radius: 10px;
    margin-bottom: 16px;
    padding: 13px 20px 13px 5px;
}

.gap_14 {
    gap: 14px;
}

.pb_44 {
    padding-bottom: 25px
}

.ellips4 {
    position: absolute;
    left: 2%;
    top: -12%;
    z-index: -1;
}

.ellips5 {
    position: absolute;
    right: 0;
    top: 10%;
    z-index: -1;
}

.max_img645 {
    max-width: 645px;
}

/* ................................ Testimonials......................................*/
.ellips6 {
    position: absolute;
    top: -45px;
    left: 20%;
    z-index: -1;
}

.py_65 {
    padding-top: 24px;
    padding-bottom: 24px;
}

.Testimonials_slider_box {
    padding: 20px;
    background: var(--bg-blue1);
    border-radius: 20px;
}

.slick-list {
    padding: 0 20% 42px 20% !important;
}

#testi.Testimonials_slider .slick-slide:not(.slick-current) {
    opacity: 70% !important;
}

.style_italic {
    font-style: italic;
}

.pb_46 {
    padding-bottom: 16px;
}

.pb_13 {
    padding-bottom: 13px;
}

.slick-slider.Testimonials_slider .slick-list .slick-track {
    display: flex !important;
    gap: 24px !important;
}

.slick-dots li {
    margin: 0 7px 0 0 !important;
    width: 10px !important;
    height: 10px !important;
    border-radius: 28px !important;
    transition: all 300ms linear;
    background: var(--slider-bg);
}

.slick-dots li.slick-active {
    width: 53px !important;
    height: 10px !important;
    background-color: var(--blue-clr) !important;
}

.slick-dots li button:before {
    color: transparent !important;
}

.slick-dots li button:active {
    color: transparent !important;
}

.slick-list {
    padding-bottom: 42px !important;
}

/* .....................................secure-solution...........................*/
.ellips_7 {
    position: absolute;
    top: -55%;
    left: 7%;
    z-index: -1;
}

.ellips-8 {
    position: absolute;
    right: 0;
    bottom: -55%;
    z-index: -1;
}

.max_img673 {
    max-width: 673px;
}

/* ....................how it works */
.py_65_87 {
    padding-top: 24px;
    padding-bottom: 24px;
}

.ellips_9 {
    position: absolute;
    top: 0;
    left: 23%;
    z-index: -1;
}

.get_started_boxouter {
    padding: 23px 20px 20px 21px;
    max-width: 231px;
    border-radius: 15px;
    background: var(--bg-blue1);
    margin-bottom: 25px;
    width: 100%;
}

.plus_icon {
    position: absolute;
    top: -16px;
    right: -19px;
}

.mb_58 {
    margin-bottom: 40px;
}

.get_started_boxinner {
    max-width: 189px;
    border-radius: 22px;
    background: var(--bg-box);
    border: 1px solid var(--inner-border);
}

.p_19_14 {
    padding: 19px 14px;
}

.padding_12_24 {
    padding: 12.7px 24.35px 20.71px 17.35px;
}

.doted_box {
    border: 1px dashed var(--blue-clr);
    padding: 9px 7px;
    max-width: 161px;
    border-radius: 5px;
}

.pb_10 {
    padding-bottom: 10px;
}

.add_document {
    border-radius: 44.99px;
    padding: 3px 15px;
    max-width: 129px;
    background: linear-gradient(99.45deg, var(--blue-clr) 0%, var(--linear1) 100%);
}

.gap_6 {
    gap: 6px;
}

.gap_11 {
    gap: 11px;
}

.table_contents {
    padding: 3px 6px 2px 2.46px;
    border-radius: 4px;
    background: var(--blue-clr);
    margin-top: 4px;
    margin-bottom: 7px;
    width: 88px;
}

.april-box {
    padding: 2px;
    background: var(--blue-clr);
    border-radius: 4px;
}

.clinic_box {
    width: 115.9px;
    border-radius: 4px;
    background: var(--blue-clr);
    padding: 3px 6px 2px 2.46px;
    margin-top: 7px;
}

.padding_12_7 {
    padding: 12.66px 7px 6px 13px;
}

.mt_77 {
    margin-top: 40px;
}

input[type="checkbox"] {
    position: relative;
    appearance: none;
    background-color: transparent;
    margin: 0;
    width: 1.15em;
    height: 1.15em;
    border: 0.15px solid var(--fc-white);
    border-radius: 2px;
    cursor: pointer;
}

input[type="checkbox"] {
    display: grid;
}

input[type="checkbox"]:checked:before {
    content: "";
    position: absolute;
    right: 50%;
    top: 50%;
    width: 5px;
    height: 10px;
    border: solid var(--input-checked);
    border-width: 0 2px 2px 0;
    margin: -1px -1px 0 -1px;
    transform: rotate(45deg) translate(-50%, -50%);
    z-index: 2;
}

input[type="checkbox"]:checked {
    background: var(--blue-clr);
    border: transparent;
}

/* ----------------------------------------- Our Integrations....................................*/
.py_87_61 {
    padding-top: 24px;
    padding-bottom: 24px;
}

.pt_72 {
    padding-top: 40px;
}

.ellips_10 {
    position: absolute;
    left: 0;
    top: -10%;
    z-index: -1;
}

.py_58_60 {
    padding-top: 30px;
    padding-bottom: 30px;
}

/*..............Accelerate Your Enterprise’s Document Redaction Efforts.....................*/
.ellips_11 {
    position: absolute;
    right: 0;
    top: -10%;
    z-index: -1;
}

.py_62_103 {
    padding-top: 24px;
    padding-bottom: 24px;
}

.max-wimg528 {
    max-width: 528px;
}

.charging_position {
    position: absolute;
    bottom: 31px;
    right: 0;
}

/* ------------------------------------------choose the plan best fits for you------------------------- */
.ellips_12 {
    position: absolute;
    left: 0;
    top: -30%;
    z-index: -1;
}

.choose_ellips {
    width: 537.69px;
    height: 156.42px;
    background: var(--linear1);
    display: none;
    transition: all 0.2s linear;
}

.position_ellips {
    position: absolute;
    top: 23%;
    left: -9%;
    opacity: 30%;
    filter: blur(100px);
}


.choose_col_hover:hover .choose_ellips {
    display: block;
}

.slect_btn {
    border: 1px solid var(--border-btn);
    padding: 13px 32px;
    border-radius: 40px;
    background: transparent;
    transition: .2s;
    z-index: 1;
}

.choose_col_hover:hover .slect_btn {
    background: linear-gradient(159.94deg, rgba(0, 136, 255, 0.58) -14.36%, var(--linear1) 113.71%);
    border: 1px solid transparent;
    box-shadow: 0px 4px 32px 0px var(--shadow1);
}

.choose_col_hover:hover .doller {
    color: var(--blue-clr);
}

.py_104_34 {
    padding-top: 24px;
    padding-bottom: 24px;
}

.mb_30 {
    margin-bottom: 30px;
}

.gap_23 {
    gap: 23px;
}

.pt_lg_40 {
    padding-top: 40px;
}

.gap_20 {
    gap: 20px;
}

.right_border1 {
    border-right: 1px solid var(--border-right1);
}

.mb_25 {
    margin-bottom: 25px;
}

.pt_40 {
    padding-top: 40px;
}

/* -----------------------------------------------get-started-today-------------------------------------- */
.reactangle_position {
    position: absolute;
    top: 0;
}

.reactangle_position2 {
    position: absolute;
    bottom: 0;
}

.bg_image {
    background-image: url("../images/png/get-startedbg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.input_box {
    max-width: 520px;
    border-radius: 29px;
    background: var(--input-bg);
    padding: 0 0 0 33px;
}

.input_modify {
    outline: none;
    background: transparent;
    font-family: 'plus jakarta sans', sans-serif;
    color: var(--primary-text-clr);
    opacity: 80%;
}

.mb_46 {
    margin-bottom: 46px;
}

.py_48 {
    padding-top: 48px;
    padding-bottom: 48px;
}

/* --------------------------footer---------------------------------- */
.pt_110 {
    padding-top: 48px;
}

.container_1310 {
    max-width: 1310px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
}

.opacity_60 {
    opacity: 60%;
}

.max-w225 {
    max-width: 245px;
    padding-top: 19px;
}

.footer_link {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid var(--border-footer);
    transition: .2s;
}

.gap_10 {
    gap: 10px;
}

.mt_36 {
    margin-top: 36px;
}

.bt_linkline::after {
    content: "";
    position: absolute;
    height: 1px;
    background: var(--blue-clr);
    width: 0%;
    bottom: 0;
    left: 0;
    transition: all 200ms linear;

}

.bt_linkline:hover {
    color: var(--blue-clr);
    opacity: 1;
}

.bt_linkline:hover::after {
    width: 100%;
}

.footer_link:hover {
    border: 1px solid var(--fc-white);
    transform: translateY(-5px);
}

.footer_link:hover svg path {
    fill: var(--fc-white);
}

.border_bottom {
    border-bottom: 1px solid var(--primary-text-clr);
    opacity: 20%;

}

.mt_40 {
    margin-top: 40px;
}

.py_27 {
    padding-top: 27px;
    padding-bottom: 27px;
}

.row_gap {
    row-gap: 20px;
}

.topBtn {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    visibility: hidden;
    position: fixed;
    bottom: 15px;
    right: 30px;
    background-color: var(--bg-blue1);
    cursor: pointer;
    padding: 10px;
    z-index: 15;
    box-shadow: 0px 3px 15px 3px var(--fc-white);
}

.topBtn.show {
    visibility: visible;
}

.topBtn:active {
    transform: translateY(5px);
}


/* =====================================================media-quires============== */
@media(max-width:991.99px) {
    .iconbox {
        width: 35px;
        height: 25px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        z-index: 20;
        cursor: pointer;
    }

    .iconbox>span {
        width: 100%;
        height: 3px;
        background-color: var(--primary-text-clr);
        border-radius: 5px;
    }

    .menulist {
        display: flex;
        justify-content: center;
        position: fixed;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        top: 0;
        z-index: 2;
        left: -100%;
        transition: all 500ms linear;
        background-color: var(--nav-bgclr);
    }

    .overflowhidden {
        overflow: hidden !important;
    }

    .cross span:nth-child(1) {
        transform: rotate(43deg) translateY(14px);
        transition: 300ms linear;
        background: var(--primary-text-clr);
        width: 27px;
    }

    .cross span:nth-child(2) {
        transform: translateX(-100%);
        opacity: 0;
        transition: 0.5ms linear;
    }

    .cross span:nth-child(3) {
        transform: rotate(-42deg) translateY(-15px);
        transition: 300ms linear;
        background: var(--primary-text-clr);
        width: 27px;
    }

    .w_100 {
        width: 100%;
    }
}

@media(min-width:576px) {
    .lh_60 {
        line-height: 60.48px;
    }

    .lh_55 {
        line-height: 55px;
    }

    .Testimonials_slider_box {
        padding: 27px 56px 42px 56px;
    }

    .pb_46 {
        padding-bottom: 46px;
    }

    .mt_77 {
        margin-top: 50px;
    }

    .right_arrow {
        position: absolute;
        top: 43%;
        transform: translateY(-50%);
        left: 85%;
    }

    .mb_58 {
        margin-bottom: 58px;
    }

    .pt_72 {
        padding-top: 60px;
    }

    .border_right1 {
        border-right: 1px solid var(--border-right2);
    }

    .border_bt {
        border-bottom: 1px solid var(--border-right2);
    }

    .border_bt1 {
        border-bottom: 1px solid var(--border-right2);
    }

    .border_right5 {
        border-right: 1px solid var(--border-right2);
    }

    .py_62_103 {
        padding-top: 62px;
        padding-bottom: 70px;
    }

    .py-sm_70 {
        padding-top: 70px;
        padding-bottom: 70px;
    }

    .charging_position {
        bottom: 50px;
        right: 8px;
    }

    .py_104_34 {
        padding-top: 70px;
        padding-bottom: 34px;
    }

    .mt_sm_60 {
        margin-top: 60px;
    }

    .py_58_60 {
        padding-top: 58px;
        padding-bottom: 60px;
    }

    .pt_lg_50 {
        padding-top: 50px;
    }

    .mb_sm_45 {
        margin-bottom: 45px;
    }

    .pt_sm_50 {
        padding-top: 50px;
    }

    .py_90_65 {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .py_51_87 {
        padding-top: 51px;
        padding-bottom: 60px;
    }

    .try_btn {
        padding: 13px 32px;
    }

    .bring_value_box {
        padding: 13px 101px 13px 16px;
    }

}

@media(min-width:768px) {
    .pb_44 {
        padding-bottom: 44px
    }

    .mt_77 {
        margin-top: 77px;
    }

    .border_right3 {
        border-right: 1px solid var(--border-right2);
    }

    .border_right4 {
        border-right: 1px solid var(--border-right2);
    }

    .border_right5 {
        border-right: none;
    }

    .pt_110 {
        padding-top: 70px;
    }

    .mb_md_57 {
        margin-bottom: 57px;
    }

    .mb_48 {
        margin-bottom: 48px;
    }

    .bottom_x_line2 {
        border: 1px solid var(--primary-text-clr);
        opacity: 15%;
        position: absolute;
        top: 16%;
        width: 100%;
    }

    .bottom_x_line3 {
        border: 1px solid var(--primary-text-clr);
        opacity: 15%;
        position: absolute;
        top: 66%;
        width: 100%;
    }
}

@media(min-width:992px) {
    .pt_lg_82 {
        padding-top: 82px;
    }

    .max-w524 {
        max-width: 524px;
    }

    .py_90_65 {
        padding-top: 90px;
        padding-bottom: 65px;
    }

    .py_51_87 {
        padding-top: 51px;
        padding-bottom: 87px;
    }

    .py_65 {
        padding-top: 65px;
        padding-bottom: 65px;
    }

    .py_65_87 {
        padding-top: 65px;
        padding-bottom: 87px;
    }

    .py_87_61 {
        padding-top: 87px;
        padding-bottom: 61px;
    }

    .pt_72 {
        padding-top: 72px;
    }

    .border_right2 {
        border-right: 1px solid var(--border-right2);
    }

    .border_bt1 {
        border-bottom: none;
    }

    .border_right4 {
        border-right: none;
    }

    .py_62_103 {
        padding-top: 62px;
        padding-bottom: 103px;
    }

    .py_124 {
        padding-top: 124px;
        padding-bottom: 124px;
    }

    .py_104_34 {
        padding-top: 104px;
        padding-bottom: 34px;
    }

    .pt_110 {
        padding-top: 110px;
    }

    .mt_lg_95 {
        margin-top: 95px;
    }

    .pt_lg_81 {
        padding-top: 81px;
    }


    .mb_lg_107 {
        margin-bottom: 107px
    }

    .bottom_x_line1 {
        border: 1px solid var(--primary-text-clr);
        opacity: 15%;
        position: absolute;
        top: 30%;
        width: 100%;
    }

    .bottom_x_line2 {
        display: none;
    }

    .bottom_x_line3 {
        display: none;
    }

    .py-lg_124 {
        padding-top: 124px;
        padding-bottom: 124px;
    }

    .max-w474 {
        max-width: 474px;
    }
}