/* @import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style-type: none !important;
    text-decoration: none !important;
}

/* ............font__family */
.ff_plus_jakarta {
    font-family: 'plus jakarta sans', sans-serif;
}

.ff_poppin {
    font-family: 'poppins', sans-serif;
}

/* .............line__height............ */
.lh_60 {
    line-height: 46px;
}

.lh_55 {
    line-height: 45px;
}

.lh_44 {
    line-height: 44.8px;
}

.lh_38 {
    line-height: 38.72px;
}

.lh_30 {
    line-height: 30px;
}

.lh_28 {
    line-height: 28px;
}

.lh_27 {
    line-height: 27px;
}

.lh_25 {
    line-height: 25px;
}

.lh_24 {
    line-height: 24px;
}

.lh_22 {
    line-height: 22.68px;
}

.lh_21 {
    line-height: 21px;
}

.lh_20 {
    line-height: 20px;
}

.lh_19 {
    line-height: 19px;
}

.lh_18 {
    line-height: 18.9px;
}

.lh_15 {
    line-height: 15.24px;
}

.lh_13 {
    line-height: 13px;
}

.opacity_80 {
    opacity: 80%;
}

.opacity_70 {
    opacity: 70%;
}

/* ................header---section............. */
.nav_container {
    max-width: 1375px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
}

.nav_br {
    border-bottom: 1px solid var(--outline-clr);
}

.headerbg_img {
    background-image: url("../images/png/header-img.png");
    background-repeat: no-repeat;
    background-size: 100% 65%;
}

.py_9 {
    padding-top: 9px;
    padding-bottom: 9px;
}

.try_btn {
    padding: 13px 32px;
    background: linear-gradient(159.94deg, rgba(0, 136, 255, 0.58) -14.36%, #0069E3 113.71%);
    box-shadow: 0px 4px 32px 0px #2746ED80;
    border-radius: 40px;
    border: none;
    transition: all 200ms linear;
    cursor: pointer;
}

.try_btn:hover {
    background: var(--primary-text-clr);
    color: var(--blue-clr);
}

.gap_51 {
    gap: 51px;
}

.bt_line::after {
    content: "";
    position: absolute;
    height: 1px;
    background: var(--blue-clr);
    width: 0%;
    bottom: 0;
    left: 0;
    transition: all 200ms linear;

}

.bt_line:hover {
    color: var(--blue-clr);
    opacity: 1;
}

.bt_line:hover::after {
    width: 100%;
}

/* /\............................................hero-section ..................*/
.container_1140 {
    max-width: 1140px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
}

.container_1210 {
    max-width: 1210px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
}

.undrline {
    height: 2px;
    width: 109px;
    background-color: var(--blue-clr);
}

.max-w467 {
    max-width: 467px;
}

.max-w474 {
    max-width: 474px;
}

.max-w834 {
    max-width: 834px;
}

.max-w699 {
    max-width: 699px;
}

.max-w617 {
    max-width: 617px;
}

.max-w515 {
    max-width: 515px;
}

.pb_28 {
    padding-bottom: 28px;
}

.pt_48 {
    padding-top: 48px;
}

.pt_6 {
    padding-top: 6px;
}

.ellips1 {
    left: 0;
    bottom: -20%;
}

.cursor-p {
    cursor: pointer;
}

/* ...........................collebration-section */

.slider-imgbox img {
    filter: grayscale(100%);
}

.slider-imgbox:hover img {
    filter: unset;
}

.pb_19 {
    padding-bottom: 19px;
}

/* complaince-security */
.mt_28 {
    margin-top: 28px;
}

.justify_content_center {
    justify-content: center !important;
}

.max-wimg615 {
    max-width: 615px;
}

/* time-saving section */
.ellips2 {
    top: -45%;
    right: 0;
}

.ellips3 {
    bottom: -45%;
    left: 0;
}

.py_51_87 {
    padding-top: 48px;
    padding-bottom: 48px;
}

.accordian1 {
    max-width: 531px;
    border-radius: 10px;
    background: var(--bg-blue1);
    margin-bottom: 10px;
    transition: all 300ms linear;
}

.accordionbtn {
    padding: 24px;
    cursor: pointer;
}

.gap_22 {
    gap: 22px;
}

.watch-box {
    padding: 17px 17px 18px 17px;
    border-radius: 8px;
    width: 64px;
    height: 64px;
    background: var(--bg-blue1);
    transition: all 300ms linear;
    display: none !important;
}

.max-w370 {
    max-width: 370px;
}

.accordian1.active .accordionbtn .content {
    color: var(--blue-clr);
}

.accordian1.active .accordionpara {
    height: unset;
}

.accordionpara {
    height: 0;
    overflow: hidden;
    transition: all 300ms linear;
}

.timeSaving_box.active .accordionpara {
    height: unset;
}

.accordian1.active .accordionbtn .watch-box {
    display: block !important;
}

/* ..........................bring-value section..................... */
.max-w416 {
    max-width: 416px;
}

.py_90_65 {
    padding-top: 48px;
    padding-bottom: 48px;
}

.bring_value_box {
    max-width: 400px;
    background: #0389FF1F;
    border-radius: 10px;
    margin-bottom: 16px;
    padding: 13px 101px 13px 16px;
}

.gap_14 {
    gap: 14px;
}

.pb_44 {
    padding-bottom: 25px
}

.ellips4 {
    position: absolute;
    left: 2%;
    top: -12%;
    z-index: -1;
}

.ellips5 {
    position: absolute;
    right: 0;
    top: 10%;
    z-index: -1;
}

.max_img645 {
    max-width: 645px;
}

/* ................................ Testimonials......................................*/
.ellips6 {
    position: absolute;
    top: -45px;
    left: 20%;
    z-index: -1;
}

.py_65 {
    padding-top: 48px;
    padding-bottom: 48px;
}

.Testimonials_slider_box {
    padding: 20px;
    background: #0389FF1F;
    border-radius: 20px;
    /* max-width: 946px; */
}

.style_italic {
    font-style: italic;
}

.pb_46 {
    padding-bottom: 16px;
}

.pb_13 {
    padding-bottom: 13px;
}

.slick-slider.Testimonials_slider .slick-list .slick-track {
    display: flex !important;
    gap: 24px !important;
}

.slick-dots li {
    margin: 0 7px 0 0 !important;
    width: 10px !important;
    height: 10px !important;
    border-radius: 28px !important;
    transition: all 300ms linear;
    background: #E3E4E5;
}

.slick-dots li.slick-active {
    width: 53px !important;
    height: 10px !important;
    background-color: var(--blue-clr) !important;
}

.slick-dots li button:before {
    color: transparent !important;
}

.slick-dots li button:active {
    color: transparent !important;
}

.slick-list {
    padding-bottom: 42px !important;
}

/* .slick-track.Testimonials_slider{
    gap: 20px !important;
    align-items: center !important;
    display: flex !important;
    justify-content: space-between !important;
} */
/* .slick-list {
    overflow: hidden !important;
    padding: 0 !important;
    position: relative;
} */
/* .slick-slide>div {
    display: flex !important;
} */
/* .....................................secure-solution...........................*/
.ellips_7 {
    position: absolute;
    top: -55%;
    left: 7%;
    z-index: -1;
}

.ellips-8 {
    position: absolute;
    right: 0;
    bottom: -70%;
    z-index: -1;
}

.max_img673 {
    max-width: 673px;
}

/* ....................how it works */
.py_65_87 {
    padding-top: 48px;
    padding-bottom: 48px;
}

.ellips_9 {
    position: absolute;
    top: 0;
    left: 23%;
    z-index: -1;
}

.get_started_boxouter {
    padding: 23px 20px 20px 21px;
    max-width: 231px;
    border-radius: 15px;
    background: #0389FF1F;
    margin-bottom: 25px;
    width: 100%;
}

.plus_icon {
    position: absolute;
    top: -16px;
    right: -19px;
}

.mb_58 {
    margin-bottom: 40px;
}

.get_started_boxinner {
    max-width: 189px;
    border-radius: 22px;
    background: #00000054;
    border: 1px solid #FFFFFF1A
}

.p_19_14 {
    padding: 19px 14px;
}

.padding_12_24 {
    padding: 12.7px 24.35px 20.71px 17.35px;
}

.doted_box {
    border: 1px dashed #0389FF;
    padding: 9px 7px;
    max-width: 161px;
    border-radius: 5px;
}

.pb_10 {
    padding-bottom: 10px;
}

.add_document {
    border-radius: 44.99px;
    padding: 3px 15px;
    max-width: 129px;
    background: linear-gradient(99.45deg, #0389FF 0%, #0069E3 100%);
}

.gap_6 {
    gap: 6px;
}

.gap_11 {
    gap: 11px;
}

.table_contents {
    padding: 3px 6px 2px 2.46px;
    border-radius: 4px;
    background: #0389FF;
    margin-top: 4px;
    margin-bottom: 7px;
    width: 88px;
}

.april-box {
    padding: 2px;
    background: #0389FF;
    border-radius: 4px;
}

.clinic_box {
    width: 115.9px;
    border-radius: 4px;
    background: #0389FF;
    padding: 3px 6px 2px 2.46px;
    margin-top: 7px;
}

.padding_12_7 {
    padding: 12.66px 7px 6px 13px;
}

.mt_77 {
    margin-top: 40px;
}

/* ----------------------------------------- Our Integrations....................................*/
.py_87_61 {
    padding-top: 48px;
    padding-bottom: 48px;
}

.pt_72 {
    padding-top: 40px;
}

.ellips_10 {
    position: absolute;
    left: 0;
    top: -15%;
    z-index: -1;
}

.py_55 {
    padding-top: 55px;
    padding-bottom: 55px;
}

.border_bt {
    border-bottom: 1px solid #FBFDFF;
}



















@media(max-width:991.99px) {
    .iconbox {
        width: 35px;
        height: 25px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        z-index: 20;
        cursor: pointer;
    }

    .iconbox>span {
        width: 100%;
        height: 3px;
        background-color: var(--primary-text-clr);
        border-radius: 5px;
    }

    .menulist {
        display: flex;
        justify-content: center;
        position: fixed;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        top: 0;
        z-index: 2;
        left: -100%;
        transition: all 500ms linear;
        background-color: var(--nav-bgclr);
    }

    .overflowhidden {
        overflow: hidden !important;
    }

    .cross span:nth-child(1) {
        transform: rotate(43deg) translateY(14px);
        transition: 300ms linear;
        background: var(--primary-text-clr);
        width: 27px;
    }

    .cross span:nth-child(2) {
        transform: translateX(-100%);
        opacity: 0;
        transition: 0.5ms linear;
    }

    .cross span:nth-child(3) {
        transform: rotate(-42deg) translateY(-15px);
        transition: 300ms linear;
        background: var(--primary-text-clr);
        width: 27px;
    }

}

@media(min-width:576px) {
    .lh_60 {
        line-height: 60.48px;
    }

    .lh_55 {
        line-height: 55px;
    }

    .Testimonials_slider_box {
        padding: 27px 56px 42px 56px;
    }

    .pb_46 {
        padding-bottom: 46px;
    }

    .mt_77 {
        margin-top: 50px;
    }

    .right_arrow {
        position: absolute;
        top: 43%;
        transform: translateY(-50%);
        left: 85%;
    }

    .mb_58 {
        margin-bottom: 58px;
    }

    .pt_72 {
        padding-top: 60px;
    }

    .border_right1 {
        border-right: 1px solid #FBFDFF;
    }
}

@media(min-width:768px) {
    .pb_44 {
        padding-bottom: 44px
    }

    .mt_77 {
        margin-top: 77px;
    }
}

@media(min-width:992px) {
    .pt_lg_82 {
        padding-top: 82px;
    }

    .max-w524 {
        max-width: 524px;
    }

    .py_90_65 {
        padding-top: 90px;
        padding-bottom: 65px;
    }

    .py_51_87 {
        padding-top: 51px;
        padding-bottom: 87px;
    }

    .py_65 {
        padding-top: 65px;
        padding-bottom: 65px;
    }

    .py_65_87 {
        padding-top: 65px;
        padding-bottom: 87px;
    }

    .py_87_61 {
        padding-top: 87px;
        padding-bottom: 61px;
    }

    .pt_72 {
        padding-top: 72px;
    }
}